In [62]:
import numpy as np

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

SQLALCHEMY_DATABASE_URL = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"

engine = create_engine(SQLALCHEMY_DATABASE_URL)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

In [63]:
post_text_data = pd.read_sql('SELECT * FROM public.post_text_df;', engine)

In [64]:
text_list = list(post_text_data["text"])

In [65]:
embeddings_1 = model.encode(post_text_data["text"])

In [66]:
emb_text_df = pd.DataFrame(embeddings_1)

In [67]:
from sklearn.manifold import TSNE
tsne = TSNE(n_components=2, random_state=0)
components = tsne.fit_transform(emb_text_df)

In [68]:
post_text_data['tsne-2d-one'] = components[:,0]
post_text_data['tsne-2d-two'] = components[:,1]

In [69]:
post_text_data = post_text_data.drop(columns=['text'])

In [70]:
post_text_data

      post_id     topic  tsne-2d-one  tsne-2d-two
0           1  business   -45.734413   -28.856848
1           2  business   -36.187981   -33.240089
2           3  business   -46.287556   -17.087877
3           4  business   -34.050076   -13.974495
4           5  business   -13.831729   -21.774380
...       ...       ...          ...          ...
7018     7315     movie    31.194824    -9.685634
7019     7316     movie    29.101366     9.085358
7020     7317     movie    40.643215    14.100370
7021     7318     movie    27.962496     2.624777
7022     7319     movie    56.283424    -8.723911

[7023 rows x 4 columns]

In [71]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=10, random_state=0).fit(post_text_data.drop(columns=['topic']))
k_means_labels = kmeans.predict(post_text_data.drop(columns=['topic']))
post_text_data = pd.concat(
    (
        post_text_data, pd.DataFrame({"KMEANS label":k_means_labels})
    ),
    axis=1
)

C:\Users\realn\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [72]:
post_text_data

      post_id     topic  tsne-2d-one  tsne-2d-two  KMEANS label
0           1  business   -45.734413   -28.856848             6
1           2  business   -36.187981   -33.240089             6
2           3  business   -46.287556   -17.087877             6
3           4  business   -34.050076   -13.974495             6
4           5  business   -13.831729   -21.774380             6
...       ...       ...          ...          ...           ...
7018     7315     movie    31.194824    -9.685634             7
7019     7316     movie    29.101366     9.085358             7
7020     7317     movie    40.643215    14.100370             7
7021     7318     movie    27.962496     2.624777             7
7022     7319     movie    56.283424    -8.723911             7

[7023 rows x 5 columns]

In [73]:
data_post_fin = pd.read_csv('C:\\Users\\realn\\PycharmProjects\\ML_training_course\\00_Final_Call\\app_fc_2\\data_post_fin.csv')

In [75]:
data = pd.merge(data_post_fin.drop(columns=["tfidf", "KMEANS label"]), post_text_data.drop(columns=["topic"]), on='post_id', how='left')
data.to_csv('data_post_fin_nn.csv', index=False)
data

,post_id,text_length,views,likes,like_percentage,tsne-2d-one,tsne-2d-two,KMEANS label
0,1477,130,22259,2891,0.035229,9.048685,-72.987274,8
1,7042,124,17107,2680,0.032658,52.859150,-11.685907,7
2,1700,311,21947,2774,0.033803,-47.414215,-62.166180,8
3,3773,23,16963,2618,0.031902,-23.969334,16.746567,2
4,1626,219,22403,2794,0.034047,21.759331,-60.455467,8
...,...,...,...,...,...,...,...,...
6826,6232,152,6738,714,0.008701,17.152426,-1.429542,0
6827,1978,307,7150,664,0.008091,-0.171336,46.967312,8
6828,3004,18,6757,758,0.009237,-62.398682,33.345833,4
6829,3362,23,6853,719,0.008762,-63.066917,7.785733,4
6830,4920,98,6691,651,0.007933,62.278553,7.001284,9